*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* scrollbar styling */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--scrollBar-color-background);
}

.playlist-area ::-webkit-scrollbar-track {
  background: var(--scrollBar-bg-playlist-area);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollBar-color-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollBar-color-thumb-hover);
}

/* scrollbar styling end */

/* Dark Mode toggle */

:root {
  font-family: Sans-serif;

  --scrollBar-color-background: #f8f0fc;
  --scrollBar-color-thumb: #e599f7;
  --scrollBar-color-thumb-hover: #da77f2;
  --scrollBar-bg-playlist-area: #ffffff;

  /* --background-body: linear-gradient(
    89.89deg,
    #62abe0 0.11%,
    rgba(169, 67, 227, 0.85888) 99.92%
  ); */
  --background-body: #f8f0fc;
  --icon-color: #ffffff;
  --aside-color: #da77f2;
  --text-color: #ffffff;
  /* --text-color: #121212; */
  --background-secondary-color: #ffffff; /* for main tags background */
  --text-color-headers-main-tags: #ffffff;
  --text-color-main-tag-tabs-class: #ffffff;
  --main-tabs-background-color: #da77f2; /* for inside the main tags box color */
  --main-tags-headers-color: #862e9c;

  --grape-0: #f8f0fc;
  --grape-1: #f3d9fa;
  --grape-2: #eebefa;
  --grape-3: #e599f7;
  --grape-4: #da77f2;
  --grape-5: #cc5de8;
  --grape-6: #be4bdb;
  --grape-7: #ae3ec9;
  --grape-8: #9c36b5;
  --grape-9: #862e9c;

  --icon-hover-songs: #ae3ec9; /* Changes color for the icons that will display with the music  */

  --button-hover-background-color: #be4bdb;
  --button-hover-border-color: none;
  --button-hover-color: #ffffff;
  --button-hover: 3px 4px 5px -1px #000000;
  --button-hover-text-shadow: #121212;

  --hamburger-menu-color: #121212;

  /* main div hover effects */
  --main-div-hover-background: #be4bdb;
  --main-div-hover-color: #ffffff;
  --main-div-hover-box-shadow: #018786;
  --main-div-hover-text-shadow: transparent;
  --main-div-hover-border: #0187865c;
  /* main div hover effects end */

  --heart-icon-color: #cb3333;
  --heart-icon-hover-color: #e21a1ae8;

  --play-music-area-music-icon-button: black;

  --default-transition-duration: 0.5s ease-in-out; /* going with this for now */
  /* --default-transition-duration: 0.8s ease-in-out; */ /* which one would be bette? */
  --box-shadow-color: rgb(0 0 0 / 51%) 1.95px 1.95px 2.6px;
  --box-shadow-main-tags: rgb(0 0 0 / 25%) 4px 4px 6px,
    rgb(0 0 0 / 25%) -3px -2px 6px;

  /* light mode color for loading spans */

  --loading-text-color: #121212;

  --loading-color-one: #e599f7;
  --loading-color-two: #da77f2;
  --loading-color-three: #cc5de8;
  --loading-color-four: #be4bdb;
  --loading-color-five: #ae3ec9;
  --loading-color-six: #9c36b5;
  --loading-color-seven: #862e9c;

  /* light mode color for loading spans end*/

  /* sliders colors */

  --slider-background-color: #f3d9fa;
  --slider-thumb-color: #cc5de8;
  --slider-brightness: brightness(0.9);

  /* sliders colors end */
}

.darkmode {
  --background-body: #292929;
  --icon-color: #b4b4b4;
  --aside-color: #1f1f1f;
  --text-color: #b4b4b4;

  --scrollBar-color-background: #292929;
  --scrollBar-color-thumb: #f9f9f98c;
  --scrollBar-color-thumb-hover: #bb86fc;
  --scrollBar-bg-playlist-area: #121010;

  --button-hover-background-color: #292929;
  --button-hover-border-color: #b4b4b4;
  --button-hover-color: #bb86fc;
  --button-hover: 3px 4px 5px -1px #000000;
  --button-hover-text-shadow: #000000;

  --hamburger-menu-color: #f9f9f98c;
  /* --background-secondary-color: #bb86fc; */
  /* --background-secondary-color: #bb86fc6b; */
  --background-secondary-color: #121010; /* for main tags background */
  --main-tabs-background-color: #1f1f1f; /* for inside the main tags box color */
  --main-tags-headers-color: #6649d6;
  --text-color-main-tag-tabs-class: #b4b4b4;
  --text-color-headers-main-tags: #b4b4b4;

  --icon-hover-songs: #6649d6; /* Changes color for the icons that will display with the music  */

  /* main div hover effects */
  --main-div-hover-background: #292929;
  --main-div-hover-color: #bb86fc;
  --main-div-hover-box-shadow: #bb86fc;
  --main-div-hover-text-shadow: #000000;
  --main-div-hover-border: #bb86fc;
  /* main div hover effects end */

  --heart-icon-color: #bb86fc; /* For the heart icon  */
  --heart-icon-hover-color: #6649d6;

  --play-music-area-music-icon-button: #b4b4b4;

  --box-shadow-color: rgb(0 0 0 / 1) 1.95px 1.95px 2.6px;
  /* --box-shadow-main-tags: rgb(0 0 0 / 62%) 2px 2px 2px,
    rgb(0 0 0 / 62%) -1.5px -1.5px 2px; */
  --box-shadow-main-tags: rgba(0, 0, 0, 0);

  /* light mode color for loading spans */

  --loading-text-color: #b4b4b4;

  --loading-color-one: #bb86fc;
  --loading-color-two: #9960df;
  --loading-color-three: #8343d2;
  --loading-color-four: #7833ce;
  --loading-color-five: #7424d9;
  --loading-color-six: #6f19db;
  --loading-color-seven: #6502e2;

  /* light mode color for loading spans end*/

  /* sliders colors */

  --slider-background-color: #b4b4b4;
  --slider-thumb-color: #9960df;
  --slider-brightness: brightness(0.75);
  /* --hover-slider-color: #8343d2; */

  /* sliders colors end */
}

/* End of Dark Mode toggle */

.material-icons.md-36 {
  font-size: 2.15rem;
}

.material-icons.md-40 {
  font-size: 2.5rem;
}

.material-icons.md-48 {
  font-size: 3rem;
}

body {
  display: flex;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  background: var(--background-body);
  color: var(--text-color);
}

body button {
  cursor: pointer;
}

/* Media query for when screen is 1000px and less */

@media only screen and (max-width: 1099px) {
  body {
    overflow-x: hidden;
    height: 100%;
  }

  .container-class {
    flex-direction: column;
    margin: 5rem 0rem 3rem 0rem;
    /* margin: 0 auto; */
  }

  .playlist-area {
    max-height: 50rem;
    width: 90%;
    margin: 0 auto;
  }

  .play-music-area {
    max-height: 45rem;
    width: 90%;
    margin: 0 auto;
  }
}

/* End of Media query */

/* Sidebar */

span {
  cursor: pointer;
}

aside {
  background: var(--aside-color);
  color: var(--icon-color);
  display: none;
  /* display: flex; */
  flex-direction: column;
  width: 12rem;
  height: 100vh;
  font-size: 1.2rem;
  box-shadow: var(--box-shadow-color);
  transition: transform var(--default-transition-duration);
  position: fixed;
  z-index: 5;
  transform: translateX(-12rem);
}

aside a {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 3.5rem;
  height: 3rem;
  left: 12rem;
  background: var(--aside-color);
  box-shadow: var(--box-shadow-color);
  position: relative;
  padding: 0 0.5rem;
  transition: width var(--default-transition-duration);
}

#menu-items {
  margin: 1rem 0 0 0;
  padding: 0.3rem 0 0 0;
  width: 12rem;
  display: grid;
  border-top: 2px solid var(--text-color);
}

#menu-items button {
  display: flex;
  color: var(--icon-color);
  background: var(--aside-color);
  border: none;
  position: relative;
  height: 4em;
  padding: 1px 1px 1px 12px;
  align-items: center;
  gap: 1em;
}

#menu-items hr {
  border: 1px solid var(--text-color);
}

#menu-items button:hover {
  background: var(--button-hover-background-color);
  transition: none;
  padding: 0.5rem;
  color: var(--button-hover-color);
  border-left: none;
}

/* Sidebar Ends */

/* Menu area, Play area  */

.container-class {
  display: none;
  /* display: flex; */
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  overflow: hidden;
}

.playlist-area {
  height: 90%;
  margin: 0 1rem;
  width: 50rem;
  min-width: 25rem;
  position: relative;
  align-self: center;
  justify-content: center;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow-main-tags);
  background: var(--background-secondary-color);
}

.play-music-area {
  height: 90%;
  margin: 0 1rem;
  width: 50rem;
  min-width: 25rem;
  position: relative;
  align-self: center;
  box-shadow: var(--box-shadow-main-tags);
  background: var(--background-secondary-color);
}

.header-playlist-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main-tags-headers-color);
  color: var(--text-color-headers-main-tags);
  padding: 1rem;
}

.main-tag-tabs {
  padding: 0.5em 0.5em 0.5em 0;
  margin: 1rem 0.5rem 1rem 0.5rem;
  font-size: 32px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  height: 4rem;
  background: var(--main-tabs-background-color);
  font-weight: 700;
}

.main-tag-tabs button {
  font-size: 20px;
  padding: 0.5em;
  width: 100%;
  display: flex;
  align-items: center;
  height: inherit;
  background: inherit;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  color: var(--text-color-main-tag-tabs-class);
}

.main-tag-tabs button span:hover {
  font-size: 2.5rem;
  color: var(--main-div-hover-color);
  background: var(--main-div-hover-background);
}

.main-tag-tabs span {
  font-size: 30px;
  height: 3rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-tag-tabs span:hover {
  color: var(--icon-hover-songs);
  font-size: 2.75rem;
}

.main-tag-tabs button:hover {
  color: var(--main-div-hover-color);
  background: var(--main-div-hover-background);
}

.main-tag-tabs .material-icons.heart {
  color: var(--heart-icon-color);
  font-size: 2.25rem;
}

.main-tag-tabs .material-icons.heart:hover {
  color: var(--heart-icon-hover-color);
  font-size: 2.75rem;
}

.music__container {
  height: 94%;
  overflow: hidden;
  overflow-y: scroll;
}

/* Menu area, Play area Ends */

/* Play music are styling */

.play-music-area-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main-tags-headers-color);
  color: var(--text-color-headers-main-tags);
  padding: 1rem;
}

.container-play-music-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  /* margin-top: 4rem; */
  padding: 1rem;
  color: var(--play-music-area-music-icon-button);
}

.container-play-music-area button {
  color: var(--play-music-area-music-icon-button);
}

#range-duration {
  width: 40%;
}

.container-play-music-area h1 {
}

.container-play-music-area h3 {
}

.music-icons {
  display: flex;
  gap: 2.15rem;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0.5rem;
}

.container-music-settings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.volume-area {
  display: flex;
  font-size: 1rem;
  align-items: center;
}

.color-change {
  background: rgb(66, 64, 64);
  height: 13rem;
  width: 13rem;
  border-radius: 7rem;
}

.music-icons button {
  border: none;
  background: none;
  width: 3rem;
}

#repeat-song {
  opacity: 0.5;
}

/* End of Play music are styling */

/* Loading animation */

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  text-transform: uppercase;
  opacity: 1;
}

.loading h2 {
  margin: 0;
  color: var(--loading-text-color);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: default;
}

.spans span {
  display: inline-block;
  vertical-align: middle;
  width: 2em;
  height: 2em;
  margin: 0.9em;
  background: var(--loading-color-one);
  border-radius: 1em;
  cursor: default;
  animation: loading 1s infinite alternate;
}

.spans span:nth-of-type(2) {
  background: var(--loading-color-two);
  animation-delay: 0.2s;
}
.spans span:nth-of-type(3) {
  background: var(--loading-color-three);
  animation-delay: 0.4s;
}

.spans span:nth-of-type(4) {
  background: var(--loading-color-four);
  animation-delay: 0.6s;
}

.spans span:nth-of-type(5) {
  background: var(--loading-color-five);
  animation-delay: 0.8s;
}

.spans span:nth-of-type(6) {
  background: var(--loading-color-six);
  animation-delay: 1s;
}

.spans span:nth-of-type(7) {
  background: var(--loading-color-seven);
  animation-delay: 1.2s;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* loading animation end */

/* Slider styling */

#volume-control {
  -webkit-appearance: none;
  border-radius: 10px;
  height: 0.4rem;
  background: var(--slider-background-color);
}

#volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--slider-thumb-color);
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 10px;
}

#volume-control:hover {
  filter: var(--slider-brightness);
}

#volume-control::-webkit-slider-thumb:hover,
#volume-control::-webkit-slider-thumb:focus {
  height: 1rem;
  width: 1rem;
  /* background: var(--hover-slider-color); */
  /* box-shadow: 0px 0px 2px black, 0px 0px 2px black; */
}

/* Slider styling */

/* makes buttons glow */
/*
.menu-items button::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.menu-items button:active {
  color: #000;
}

.menu-items button:active::after {
  background: transparent;
}

.menu-items button:hover::before {
  opacity: 1;
}

.menu-items button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--header-color);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}*/
/* makes buttons glow */

/* .ma,
.ma::after {
  width: 300px;
  height: 86px;
  font-size: 40px;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
}
.ma::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "join now";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}
.ma:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}
@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
} */
