*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dark Mode toggle */

:root {
  font-family: "Montserrat";

  --background-body: #ffffff;
  --icon-color: #ffffff;
  --aside-color: #018786;
  --text-color: #ffffff;
  /* --text-color: #121212; */
  --button-hover-sidebar: #00ffd5;
  --button-hover-text-shadow: #121212;
  --hamburger-menu-color: #121212;
  --default-transition-duration: 0.8s ease-in-out;
}

.darkmode {
  --background-body: #292929;
  --icon-color: #b4b4b4;
  --aside-color: #1f1f1f;
  --text-color: #b4b4b4;
  --button-hover-sidebar: #bb86fc;
  --button-hover-text-shadow: #000000;
  --hamburger-menu-color: #eeeeee5e;
}

/* End of Dark Mode toggle */

body {
  /* display: flex;
  align-items: flex-start;
  justify-content: center; */
  min-height: 100vh;
  max-width: 100vw;
  background: var(--background-body);
  color: var(--text-color);
  transition: var(--default-transition-duration);
}

body button {
  cursor: pointer;
}

/* Sidebar */

i {
  cursor: pointer;
  margin: 0.3rem 0.2rem 0.2rem 0.3rem;
  vertical-align: middle;
}

aside {
  background: var(--aside-color);
  color: var(--icon-color);
  width: 4rem;
  height: 4rem;
  font-size: 1.2rem;
  box-shadow: rgb(0 0 0 / 51%) 1.95px 1.95px 2.6px;
  border-bottom-right-radius: 15px;
  transition: var(--default-transition-duration);
  z-index: 5;
  padding: 0.5rem 0px 0px;
}

aside a {
  margin-left: 0.5rem;
}

aside hr {
  border: 1px solid var(--text-color);
}

aside a:hover {
  color: var(--button-hover-sidebar);
  text-shadow: 0 0 5px var(--hamburger-menu-color);
}

#menu-items {
  row-gap: 2rem;
  margin: 1rem 0 0 0;
  position: fixed;
  padding: 0.3rem 0 0 0;
  width: 12rem;
  transform: translateX(-12rem);
  transition: var(--default-transition-duration);
  display: grid;
}

#menu-items button {
  cursor: pointer;
  display: flex;
  color: var(--icon-color);
  background: transparent;
  border: none;
  position: relative;
  height: 3em;
  padding: 0 0 0 12px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  gap: 1em;
}

#menu-items button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform: scale(0.7);
  z-index: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#menu-items button:hover::before {
  transform: scale(1);
  box-shadow: 5px 0 15px var(--button-hover-sidebar);
}

#menu-items button:hover {
  color: var(--button-hover-sidebar);
  box-shadow: 0px 0 5px var(--button-hover-sidebar);
  text-shadow: 0 0 5px var(--button-hover-text-shadow);
  border: 2px solid var(--button-hover-sidebar);
  border-left: none;
}

/* Sidebar Ends */

/* Menu area, Play area and Buttons for left and right switch */

#left-arrow {
}

#right-arrow {
}

.playlist-area {
  height: 80%;
}

.play-muisc-area {
  height: 80%;
}

/* Menu area, Play area and Buttons for left and right switch Ends */

/* makes buttons glow */
/*
.menu-items button::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.menu-items button:active {
  color: #000;
}

.menu-items button:active::after {
  background: transparent;
}

.menu-items button:hover::before {
  opacity: 1;
}

.menu-items button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--header-color);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}*/
/* makes buttons glow */
